<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place</title>
</head>
<body>
    <form action="" method="post">
        <table border="2" align="center">
            <tr>
                <td>
                    District
                </td>
                <td><input type="text" name="dist" id="dist"></td>
            </tr>
            <tr>
                <td>Place</td>
                <td>
                    <td><input type="text" name="place" value="place"></td>
                </td>
                <td colspan="2" align="center">
                    <input type="submit" name="btn" id="btn">
                </td>
                    <tr>
                    <tr>
                    <td>district</td>
                    <td>place</td>
                    <td>{{result}}</td>
                    </tr>
                    </td>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>