<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'Merchant:my_pro' %}">Profile</a><br>

    <a href="{% url 'Merchant:MerchantFeedback' %}">Feedback</a> <br>

    <a href="{% url 'Merchant:PostAds' %}">Post Ads</a> <br>

    <a href="{% url 'Merchant:PostEvents' %}">Post Events</a><br>

    <a href="{% url 'Merchant:ViewAds' %}">Ads</a><br>

    <a href="{% url 'User:ViewEvents' %}">Events</a><br>
</body>
</html>